#tittlePage {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  color: #c6c6c6;
  text-shadow: 1px 0px 1px #6b6b6b, 0px 1px 1px #6b6b6b, 2px 1px 1px #6b6b6b, 1px 2px 1px #6b6b6b, 3px 2px 1px #6b6b6b, 2px 3px 1px #6b6b6b, 4px 3px 1px #6b6b6b, 3px 4px 1px #6b6b6b, 5px 4px 1px #6b6b6b, 4px 5px 1px #6b6b6b, 6px 5px 1px #6b6b6b, 5px 6px 1px #6b6b6b, 7px 6px 1px #6b6b6b;
}

#navy {
  margin-left: 0.60%;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

#theSearch {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0.60%;
}

#add {
  border-style: solid;
  background-color:#282c34;
  color: white;
  border-color: white;
  box-shadow: none;
  border-radius: 10px;
  font-size: 21px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 480;
}

#add:hover {
  color: #282c34;
  border-color: white;
  background-color: white;
}

#input {
  border: none;
  border-radius: 10px;
  background-color: #282c34;
  margin-right: 10px;
  color: white;
  font-size: 23px;
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  font-weight: 600;
}